<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% flash.each do |name, message| %>    <%# me autes tis grammes kwdiak ektypwnw to successfull mhnuma gia ena submit pou egine %>
    <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
